
:root {
  --darkest: #0C0E16;
  --darker: #0F111A;
  --dark: #191C2B;
  --light: #A6ACCD;
  --accent-color: #80CBC4;

  --panel-foreground: #525975;
  --panel-foreground-active: var(--accent-color);
  --panel-foreground-hover: #FFF;

  --font-face: "Fira Sans", Arial, Helvetica, sans-serif;
  --font-mono: "Roboto Mono", Courier, monospace;
  --font-size: 13px;
  --icon-size: 16px;

  --regular: 400;
  --bolder: 600;

  --scroll-radius: 3px;

  --opacity-0-8: 0.8;

  --white: #ffffff;
  --black: #000000;
  --red: #f07178;
  --orange: #F78C6C;
  --yellow: #FFCB6B;
  --green: #C3E88D;
  --cyan: #89DDFF;
  --blue: #82AAFF;
  --paleblue: #B2CCD6;
  --purple: #C792EA;
  --brown: #916b53;
  --pink: #ff9cac;
  --violet: #bb80b3;
  --grey: #464B5D;
}

* {
  background-color: var(--background-darker) !important;
}

body, th, td {
  font-family: var(--font-face) !important;
}

p, ul, ol, li {
  color: var(--light) !important;
}

strong {
  color: var(--white) !important;
}

hr {
  border: none;
  border-bottom: 1px solid var(--dark) !important;
  margin: 2.5em 0 !important;
}

/* Scrollbars */
::-webkit-scrollbar-thumb {
  background-color: var(--dark) !important;
  border-radius: var(--scroll-radius) !important;
}

/*********************************************************************************
* TITLES
*********************************************************************************/

h1 {
  border-bottom: 1px solid var(--dark) !important;
  font-weight: var(--regular) !important;
}

h2, h3, h4, h5, h6 {
  border-bottom: 0 !important;
  font-weight: var(--regular) !important;
}

/*********************************************************************************
* LINKS
*********************************************************************************/

a {
  color: var(--accent-color) !important;
  text-decoration: none !important;
}

a:hover {
  text-decoration: underline !important;
}

/* Joplin icon in Joplin link */
.resource-icon {
  background-color: var(--accent-color) !important;
}

/*********************************************************************************
* CODE BLOCK
*********************************************************************************/

pre, .hljs {
  background-color: var(--darkest) !important;
  font-family: var(--font-mono) !important;
  padding: 10px !important;
  color: var(--light) !important;
  font-size: 14px !important;
  overflow: scroll !important;
}

/* Inline code */
.inline-code {
  background-color: transparent !important;
  border: 0 !important;
  font-family: var(--font-mono) !important;
  color: var(--yellow) !important;
  font-size: 14px !important;
}

/*********************************************************************************
* BLOCKQUOTE
*********************************************************************************/

blockquote {
  background-color: var(--dark) !important;
  padding: 10px !important;
  color: var(--light) !important;
  font-size: 14px !important;
  font-style: italic !important;
  border: 0 !important;
  border-left: 5px solid var(--darkest) !important;
}

/*********************************************************************************
* TABLES
*********************************************************************************/

table {
  border: 0 !important;
}

th {
  border: 0 !important;
  color: var(--light) !important;
  border-bottom: 1px solid var(--light) !important;
}

td {
  border: 0 !important;
  color: var(--light) !important;
  border-bottom: 1px solid var(--dark) !important;
}

/*********************************************************************************
* HIGHLIGHTING
*********************************************************************************/

::selection {
	background-color: var(--accent-color) !important;
  color: var(--dark) !important;
}

mark {
  background: var(--yellow) !important;
}

/* Highlighted searched item */
mark[data-markjs] {
  background-color: var(--yellow) !important;
}