/* For styling the entire Joplin app (except the rendered Markdown, which is defined in `userstyle.css`) */

:root {
  --background-darkest: #0c0e16;
  --background-darker: #0F111A;
  --background-dark: #12141f;
  --foreground: #A6ACCD;
  --accent-color: #59ada6;

  --panel-foreground: #525975;
  --panel-foreground-active: #717CB4;
  --panel-foreground-hover: #FFF;

  --button: #2d324a;
  --button-hover: #353a49;

  --line-highlight-background: #000000;

  --font-face: "Fira Sans Regular", Arial, Helvetica, sans-serif;
  --font-size: 13px;
  --icon-size: 16px;

  --regular: 400;
  --bolder: 600;

  --opacity-0-9: 0.9;
}

html, body {
  background-color: var(--background-darker) !important;
  color: var(--foreground) !important;
  font-family: var(--font-face) !important;
  font-weight: var(--foreground) !important;
  font-size: var(--font-size) !important;
}

.rli-root {
  background-color: var(--background-darker) !important;
}

.fa, .far, .fas {
  font-weight: 900 !important;
  font-family: "Font Awesome 5 Free" !important;
  font-size: var(--icon-size) !important;
}

::placeholder {
  color: var(--accent-color) !important;
}

/*********************************************************************************
* SIDEBAR
*********************************************************************************/

.sidebar {
  background-color: var(--background-darker) !important;
  text-transform: uppercase;
  font-weight: var(--bolder);
}

/* Hide "All notes" icon */
i.icon-notes {
  display: none !important;
}

/* FOLDERS */

/* Hide "Add new notebook" button */
.sidebar > div > div > button {
  display: none !important;
}

.folders .list-item-container, 
.folders .list-item-container:hover {
  background-color: transparent;
}

.folders .list-item-container a {
  text-transform: initial;
  color: var(--panel-foreground) !important;
  font-weight: var(--regular);
}

.folders .list-item-container a:focus {
  color: var(--panel-foreground-active) !important;
}

.folders .list-item-container a:hover {
  color: var(--panel-foreground-hover) !important;
}

/* TAGS */

.tags .list-item-container, 
.tags .list-item-container:hover {
  display: inline-block;
  line-height: 0 !important;
  padding: 0 !important;
  height: auto !important;
  background-color: transparent;
}

.tags .list-item-container a {
  padding-left: 12px !important;
  text-transform: initial;
  color: var(--panel-foreground) !important;
  font-weight: var(--regular);
}

.tags .list-item-container a:focus {
  color: var(--panel-foreground-active) !important;
}

.tags .list-item-container a:hover {
  color: var(--panel-foreground-hover) !important;
}

/* SYNCHRONIZATION */

.sidebar > div:last-of-type {
  background-color: transparent !important;
}

.sidebar > div:last-of-type > button {
  background-color: var(--accent-color) !important;
  border: 0px !important;
  text-transform: uppercase;
}

.sidebar > div:last-of-type > button:hover {
  opacity: var(--opacity-0-9);
}

/*********************************************************************************
* NOTE LIST
*********************************************************************************/

/* Remove border-right - introduced in 1.3.7 */
.rli-noteList div {
  border-right: none !important;
}

.note-list {
  background-color: var(--background-darker) !important;
}

/* SEARCH, NEW NOTE AND NEW TASK */

div[height="50"] {
  background-color: var(--background-darker) !important;
}

div[height="50"] input {
  border: none !important;
  color: var(--accent-color) !important;
  background-color: var(--background-darkest) !important;
}

div[height="50"] button {
  background: transparent !important;
  color: var(--accent-color) !important;
}
div[height="50"] button:hover {
  opacity: var(--opacity-0-9);
}

div[height="50"] button span {
  color: var(--accent-color) !important;
}

/* LIST OF NOTES */

.note-list .list-item-container {
  background-color: var(--background-darker) !important;
}

.note-list .list-item-container:hover {
  background-color: var(--background-dark) !important;
}

.item-list.note-list .list-item-container::before {
  border: none !important;
}

.note-list .list-item-container a {
  text-transform: initial;
  color: var(--panel-foreground) !important;
  font-weight: var(--regular);
}

.note-list .list-item-container a:focus {
  color: var(--accent-color) !important;
  background-color: var(--background-dark) !important;
}

.note-list .list-item-container a:hover {
  color: var(--panel-foreground-hover) !important;
}

/*********************************************************************************
* EDITOR
*********************************************************************************/

/* EDITOR TOOLBAR */

/* Title */
.rli-editor .kYItFT, .kYItFT > input {
  padding-top: 5px;
  background-color: var(--background-darker) !important;
}

.editor-toolbar {
  background-color: var(--background-darkest) !important;
}

/* Hide "Spell checker" button */
.editor-toolbar a[title="Spell checker"] {
display: none !important;
}

/* Hide "Markdown/Richtext editor" Button */
.tox-tbtn {
display: none !important;
}

/* Breadcrumbs (In:...) */
.bkplMr {
  background-color: var(--accent-color) !important;
  margin: 0px;
}

.bkplMr:hover {
  opacity: var(--opacity-0-9);
}

/* CONTENT */

/* Empty notebook */
.rli-editor > div > div:empty {
  background-color: var(--background-darker) !important;
}

/* TAGS */

.tag-bar {
  background-color: var(--background-darkest) !important;
}

.tag-list > span {
  background-color: transparent !important;
}

/* Hide "Click to add tags..."*/
a[Title="Tags"] + div > span {
  display: none !important;
}